@media (max-width: 480px)
{
    .container {
        max-width: 480px;
        margin: 0, auto;
    }
}

@media (min-width: 960px)
{
    body {
        padding-top: 60px;
    }

    .container {
        max-width: 960px;
        margin: 0, auto;
    }
}
