    /*#content-left{*/
        /*float: left;*/
        /*height: 100%;*/
        /*width: 50%;*/
    /*}*/
    /*#content-right{*/
        /*float: right;*/
        /*height: 100%;*/
        /*width: 50%;*/
    /*}*/
    /*#content-left h1{*/
        /*font-family: Futura, Helvetica;*/
    /*}*/
    /*#username{*/
        /*font-family: arial;*/
        /*font-size:small;*/
    /*}*/
    /*footer{*/
        /*text-align:center;*/
        /*font-size:12px;*/
        /*background-color: black;*/
        /*color:white;*/
        /*width: 100%;*/
        /*letter-spacing: 3px;*/
    /*}*/

    /*.d2{*/
    /*width:700px; height:300px; position:absolute; top:40%; left:50%; z-index:1;*/
    /*}*/
    /*.d3{*/
    /*width:700px; height:300px; position:relative; top:-50%; left:-50%;*/
    /*}*/
