<%inherit file="/layouts/base.html" />

<%def name="css_files()">
    ${ parent.css_files() }
    <!--<link href="/static/css/index.css" rel="stylesheet">-->
</%def>

<%def name="title()">${ text }</%def>
<%def name="js_defer()">
    ${ parent.js_defer() }
</%def>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> Star
</button>

<!--<div id="content" class="d2">-->
    <!--<div id="content-inner" class="d3">-->
        <!--list starts here-->
        % if  group:
            <h3>${group.name}</h3>
            <div class="text-info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${group.description}</div>
				
				<hr>
            Manager:${group.manager.first_name} ${group.manager.last_name}
            <p> <i class="glyphicon glyphicon-envelope"> </i> <a href="mailto:${group.manager.email}"> ${group.manager.email}</a> </p>
            <p> <i class="glyphicon glyphicon-earphone"> </i> 
				${group.manager.phonenumber}</p>
				
				<hr>
            <div class="text-info"> 
				Events:</div><br/>
            % for e in group.events:
            <h4>${e.name}</h4>
				<span class="label label-default">${e.start_time} - ${e.end_time}</span>
				<span class="label label-primary">${e.location}</span>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${e.description}</p>
				<hr>
            % endfor
        % endif
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
