<%inherit file="/layouts/base.html" />

<%def name="css_files()">
    ${ parent.css_files() }
    <link href="/static/css/index.css" rel="stylesheet">
</%def>

<%def name="title()">Study Together</%def>
<%def name="js_defer()">
    ${ parent.js_defer() }
	<script>
	$(document).ready(function() {
		$("#inputForm").validate({
			rules: {
				strength: "required",
				weakness: "required"
			},
			messages: {
				strength: "Please enter your strength",
				weakness: "Please enter your weakness"
			}
		});
	});
	</script>
</%def>

<div class="col-xs-12">
    <h1>Study Together</h1>
    <p class="text-info"> <em>Find which group you want to join in: </em></p>
    <form class="form-horizontal" id="inputForm" action="result" method="get" role="form">
        <div class="form-group ">
            <div class="col-xs-12">
                <input class="form-control" type="text" name="group_name" id="group_name" placeholder="Group Name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="submit" value="Search" class="btn btn-primary col-xs-12" id="search">
            </div>
        </div>
    </form>
</div>
