<%inherit file="/layouts/base.html" />

<%def name="css_files()">
    ${ parent.css_files() }
    <link href="/static/css/index.css" rel="stylesheet">
</%def>

<%def name="title()">Study Together</%def>
<%def name="js_defer()">
    ${ parent.js_defer() }
	<script>
	$(document).ready(function() {
		$("#inputForm").validate({
			rules: {
				strength: "required",
				weakness: "required"
			},
			messages: {
				strength: "Please enter your strength",
				weakness: "Please enter your weakness"
			}
		});
	});
	</script>
</%def>

<!--<div id="content" class="d2">-->
    <!--<div id="content-inner" class="d3">-->
        <!--<div id="content-right">-->
            <!--<article>-->
                    <!--<img src="http://i.imgur.com/yIWtLs5.png"/>-->
            <!--</article>-->
        <!--</div>-->
        <!--<div id="content-left">-->
        <h1>Study Together</h1><br/>
        <p class="text-info"> <em>Find which group you want to join in: </em></p>
        <form class="form-horizontal" id="inputForm" action="result" method="get">
            <div class="control-group">
                <input class="span12" type="text" name="skill" id="skill" placeholder="Skill">
            </div>
            <div class="control-group">
                <input type="submit" value="Search" class="btn btn-primary span12" id="search">
            </div>
        </form>
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
