<%inherit file="/layouts/base.html" />

<%def name="css_files()">
    ${ parent.css_files() }
        <!--<link href="/static/css/index.css" rel="stylesheet">-->
</%def>

<%def name="title()">asd</%def>
<%def name="js_defer()">
    ${ parent.js_defer() }
</%def>

<div class="col-xs-12">
        <h3> ${topic.title} </h3>
        <div class="text-muted"> ${topic.author.first_name} - ${topic.created.strftime("%a, %d %b %Y %H:%M")}
            <div class="pull-right"> <a class="btn btn-success" href="/post_content/${ topic.pk }">Reply</a></div>
        </div>
        <span class="text-info">${ topic.content} </span>

        <hr>
        <dl class="dl-horizontal">
            % for item in reply:
                <dt> ${item.author.first_name} </dt>
                <dd> ${item.content} - ${item.created.strftime("%a, %d %b %Y %H:%M")} </dd>
            % endfor
        </dl>
        <br />

      
</div>
