<%inherit file="/layouts/base.html" />

<%def name="css_files()">
    ${ parent.css_files() }
        <!--<link href="/static/css/index.css" rel="stylesheet">-->
</%def>

<%def name="title()">Topics - Study Together</%def>
<%def name="js_defer()">
    ${ parent.js_defer() }
</%def>

<div class="col-xs-12">
    <h3>${course.class_name} Topics</h3>
    <a class="col-xs-12 btn btn-success" href="/create_topic/${ course.pk }">Create a Topic</a>
    <br />
    <br />
    %if topics:
    <div class="list-group">
        %for topic in topics:
        <a href="/posts/${ topic.id }" class="list-group-item">
            <h4 class="list-group-item-heading">${ topic.topic_title }</h4>
            <p class="list-group-item-text">${ topic.topic_content }</p>
        </a>
        %endfor
        </div>
    %endif
</div>

